/env
/media
/build
/static
*.env
/core/__pycache__
/DB_backup
/account/migrations
/account/__pycache__
/unregisterCat/migrations
/unregisterCat/__pycache__
/registerCat/migrations
/registerCat/__pycache__
/other/migrations
/other/__pycache__